{% extends "base.html" %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Create a new execution</h1>
<!-- DataTales Example -->
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <form class="user" method="POST" action="/new_exec">
                        <div class="form-group row">
                            <div class="col-sm-5">
                                <label>Folder</label>
                                <select name="folder" class="custom-select form-control form-select form-select-lg mb-3" aria-label="Default select example">
                                    <option selected>-</option>
                                    {%for folder in folders%}
                                        <option value="{{folder}}">{{folder}}</option>
                                    {%endfor%}
                                  </select>
                            </div>
                            <div class="col-sm-1">
                                <label> </label>
                                <!-- <a href="execs" class="btn btn-primary btn-block" style="margin-top: 8px;">
                                     Run <i class="fas fa-play"></i>
                                </a> -->
                                <button class="button is-block is-info is-large is-fullwidth btn btn-primary btn-block" style="margin-top: 8px;">
                                Run <i class="fas fa-play"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
