<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Edit</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<div class="box">
    <form method="POST" action="">
        <div class="field form-group">
            <div class="control">
                <input class="input is-large" type="email" name="email" disabled placeholder="Email" autofocus="" value="{{ edit_user.email }}">
            </div>
        </div>

        <div class="field form-group">
            <div class="control">
                <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" value="{{ edit_user.name }}">
            </div>
        </div>

        <div class="field form-group">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="New password">
            </div>
        </div>
        <div class="field form-group">
            <div class="control">
                <input class="input is-large" type="password" name="password2" placeholder="Confirm new password">
            </div>
        </div>
        {% if usuario.admin %}
        <div class="field form-group">
            <label class="checkbox">
                <input type="checkbox" name="isAdmin" {{ "checked" if edit_user.admin }}>
                Is admin?
            </label>
        </div>
        {% endif %}
        <button class="button is-block is-info is-large is-fullwidth">Save</button>
    </form>
</div>
{% endblock %}